[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fChange"]
	path = fChange
	url = https://github.com/jrvanderdoes/fchange
[submodule "funkycells"]
	path = funkycells
	url = https://github.com/jrvanderdoes/funkycells
